*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
address {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.about {
  margin: 120px 24px 180px 24px;
}

.footer {
  padding-left: 51.1px;
  padding-right: 50px;
}
